h1{
    display:flex-column;
    background-color: darkgoldenrod;
    text-align: center;
    padding: 10px;
}
p{
    display:flex;
    background-image:url("https://res.cloudinary.com/dn0bflwpm/image/upload/v1645291244/Lord%20of%20the%20Ring/450_1000_kq3txc.jpg");
    width: 250px;
    height: 250px;
    text-align: center;
    text-decoration: red;
    margin: 60px;
    border-radius: 10px;
    
    
}
